.container{
    background-color: aqua;
    border-radius: 16px;
}
.main-container{
    display: flex;
    justify-content: space-around;
}
.project-title{
    text-align: center;
    padding: 10px;
}
.card{
    width: 300px;
    text-align: center;
    border: 3px solid red;
    border-radius: 16px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}
.card-img{
    width: 300px;
    border-radius: 12px;
}

.add-btn{
    height: 40px;
    width: 100px;
    border-radius: 12px;
    font-size: medium;
}

/* 2nd part */
.cart-container{
    width: 300px;
    height: 500px;
background-color: white;
padding: 20px;
text-align: center;
border-radius: 12px;
border: 3px solid red;
}
.cart-title{
    display: flex;
    justify-content: space-around;
}
.cart-info{
    display: flex;
    justify-content: space-around;
}
.remove{
    height: 40px;
    width: 100px;
    border-radius: 12px;
    font-size: medium;
    margin-top: 10px;
    
}